<div class="movie-card" (click)="openDialog()">
  <div class="movie-card__header">
    <div class="movie-card__poster">
      <img
        class="movie-card__image"
        [src]="movieCard.poster"
        [alt]="'Постер фильма ' + movieCard.title"
        width="300"
        height="450"
        loading="lazy"
      />
    </div>
    <div class="movie-card__info">
      <h3 class="movie-card__title">{{ movieCard.title }}</h3>
      <div class="movie-card__year">{{ movieCard.year }}</div>
    </div>
  </div>
</div>
